NEXT_PUBLIC_SUPABASE_URL=https://vtonklwjmwuqfbbperoy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0b25rbHdqbXd1cWZiYnBlcm95Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NzYzNzQsImV4cCI6MjA5MjU1MjM3NH0.n4wkkNxg-EP1RsBWfKZMUi4rgBJ_rrueV2RpLloy8TE
